<!-- header.html.twig -->
<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li class="active"><a href="{{ path('app_login') }}">Home</a></li>
        <li><a href="{{ path('app_about') }}">About</a></li>
        <li><a href="{{ path('app_services') }}">Services</a></li>
        <li><a href="{{ path('app_contact') }}">Contact</a></li>
    </ul>
</nav>
